* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  /* overflow: hidden; */
}

.countaner {
  height: 100%;
  background-color: #e5e5fd;
  border: 10px solid#1d1e4c;
}

.contant {
  width: 1040px;
  margin: 0px auto;
}

.top_sectio {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 100px;
}

.top_sectio h1 {
  font-size: 40px;
  font-weight: bold;
  margin-right: 351px;
}

.top_sectio h4 {
  font-size: 20px;
  margin-right: 351px;
  text-align: end;
}

.header img {
  width: 250px;
  border-radius: 45%;
}

.heading h1 {
  margin-left: 77px;
  margin-top: 89px;
  font-size: 62px;
}

.paragraph {
  text-align: center;
  text-align: justify;
  width: 80vw;
  margin-left: 83px;
}

.paragraph-biography {
  margin-left: 77px;
}
