.container {
    text-align: center;
    margin-top: 23px;


}

table {
    margin: auto;
    
}

input {
    font-size: 30px;
    border: 5px solid #197fa7;
    border-radius: 21px;
    text-align: center;
}

button {
    border-radius: 20px;
    font-size: 39px;
    background: cyan;
    width: 79px;
    height: 53px;
    text-align: center;
}

.scare {

    background-color: #11e2f7;
    display: inline-block;
    border-radius: 4pc;
    height: 343px;
    padding: 17px;
}